{% extends 'base.html' %}

{% block head%}
<title> David's peers</title>
{% endblock %}

{% block body%}
<div class="content">
    <table>
        <tr>
            <td>
                 <form> <h1>Building?</h1> <input type="text" name="building"> </form>
            </td>

        </tr>
        <tr>
            <td><h2>Quiet?</h2></td>

        </tr>
        <tr>
            <td><h2>Rating?</h2></td>

        </tr>
        <tr>
            <td><h2>Sort by:</h2></td>

        </tr>
    </table>

    <form action="/" method="POST">
        <input type="submit" value="Search!">
    </form>

</div>
</div>

{% endblock %}