{% extends 'base.html' %}

{% block head%}
<title> David's peers</title>
{% endblock %}

{% block body%}
<div class="content">

    <h1>The Room App </h1>

    <h1><a href="/advsearch">Advanced Search</a> </h1>

</div>
</div>
{% endblock %}

